/**************************
Global CSS
**************************/
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 5% 5%;
  max-width: 100%;
}

ul {
  list-style: none;
}

h1 {
  font-size: 12em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}

.wrapper p {
  font-size: 1.2em;
  line-height: .5;
  clear: left;
}


/**************************
<nav> CSS
**************************/
nav {
  font-size: 1.7em;
  line-height: 1.5;
  margin: 10% 0;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .selected {
  background-color: #f7ff00;
  font-weight: 600;
}



/**************************
link play CSS
**************************/
a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  background-color: #f7ff00;
}



/**************************
index.html CSS
**************************/
.logo {
  -webkit-animation: flicker 2s infinite;
  text-align:center;
}

@-webkit-keyframes flicker
{
0% {opacity:0;}
9% {opacity:0;}
10% {opacity:.5;}
13% {opacity:0;}
20% {opacity:.5;}
25% {opacity:1;}
}

.contact-icon {
  max-height: 30px;
}

.contact-info ul {
  width: 100%;
  margin: 0;
  text-align: center;
}

.contact-info li {
  display: inline-block;

  margin: 4%;
  font-size: 2.5em;
}

.contact-info a:hover {
  font-weight: 600;
  background-color: #f7ff00;
}



/**************************
dev.html CSS
**************************/
.sw-icon {
  max-width: 40px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.sw-icon:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: drop-shadow(4px 4px 20px black));
  -webkit-filter: drop-shadow(4px 4px 20px black);
}


.sw-info li {
  display: inline-block;
    margin: 0 2%;
}

.sw-info a:hover {
  background-color: #fff;
}



/**************************
eng.html CSS
**************************/




/**************************
proj.html CSS
**************************/
.projects {
  width: 100%;
}

.projects li {
  float: left;
  width: 44%;
  margin: 1%;
  background-color: #f5f5f5;
  color: #000;
}

.projects li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #000;
}

.projects img {
  width: 100%;
}

.key {
  line-height: .5;
}

.projects a:hover {
  background-color: #fff;
}

.red {
  background-color: #EE2C2C;
  color: #EE2C2C;
}

.blue {
  background-color: #66CCCC;
  color: #66CCCC;
}

.yellow {
  background-color: #FC0;
  color: #FC0;
}

.green {
  background-color: green;
  color: green;
}
