@media screen and (min-width: 900px) {

/**************************
Global CSS
**************************/
body {
  max-width: 100%;
  margin: 15% 15%;
}

h1 {
  font-size: 17em;
  width: 70%;
  margin: 0;
  float: left;
}

h2 {
  font-size: 3.3em;
  width: 70%;
  margin: 5% 0 5% 0;
  float: left;
}

h3 {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}

h4 {
  clear: both;
  font-weight: 200;
}

p {
  line-height: 1.5;
}

.wrapper a {
  font-size: 1.2em;
}

.desktop {
  width: 70%;
  float: left;
}

.clearfix {
  clear: both;
}

.ss {
  width: 70%;
}

.concepts {
  width: 70%;
}

/**************************
<nav> CSS
**************************/
nav {
  width: 25%;
  float: right;
  margin: 0;
  text-transform: uppercase;
}



/**************************
index.html CSS
**************************/
.logo {
  -webkit-animation: flicker 2s infinite;
  margin: 0;
  width: 100%;
  font-size: 6.75em;
  font-weight: 600;
}

.note {
width: 70%;
}

.contact-info {
  width: 70%;
  margin: 0;
  text-align: center;
}


.contact-info li {
  margin: 0 7%;
}

.contact-label {
  font-size: .4em;
}

/**************************
dev.html CSS
**************************/
.sw-info {
  width: 70%;
  margin: 0;
}

.sw-info li {
  margin: 0 4%;
  clear: both;
  font-size: 5em;
}

.sw-icon {
  max-width: 65px;
}



/**************************
proj.html CSS
**************************/
.projects {
  width: 100%;
}

.projects li {
  float: left;
  width: 24%;
  margin: .5%;
}


.projects li a p {
  margin: 0;
  font-size: 1em;
  color: #000;
  text-align: center;
}

.projects img {
  width: 100%;
}


.projects .redlabel:hover {
  background-color: #EE2C2C;
}

.projects .yellowlabel:hover {
  background-color: #FC0;
}

.projects .greenlabel:hover {
  background-color: green;
}

.projects .bluelabel:hover {
  background-color: #66CCCC;
}

}

@media screen and (max-width: 400px) {
  .projects .redlabel p {
    background-color: #EE2C2C;
  }

  .projects .yellowlabel p {
    background-color: #FC0;
  }

  .projects .greenlabel p {
    background-color: green;
  }

  .projects .bluelabel p {
    background-color: #66CCCC;
  }
}
